@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 > Bienvenido a la Web Cuidado Equino </h1>
    <hr>
     
    <p>

         Mediante nuestros servicios web podrá realizar acceder a diferentes
         funcionalidades creadas para apoyar la gestión del cuidado y salud
         de los equinos.

    </p>
    <hr>
    
   <div class="row">
     <div class ="col-12">

       
        <img src="~/img/manada.png"  class = "img-fluid" />

     </div>
     

   </div>


