@page
@model CuidadoEquino.App.Frontend.Pages.listasModel3
@{
}

<html>
   
<head>
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>



   <form action="" id="form">
      <h2 id="h2"> BUSCAR EQUINO </h2>
              <input type="text" name="nombre" id="input" placeholder= "Ingrese nombre"/>
               <button type="submit" id="boton" >Buscar</button>

      <table class="table">

         @foreach (var item in Model.mylista3)
         {
            <tr>
               <td>@item
                  <input type="text" name="nombre" id="input" />
               </td>
            </tr>

         }

      <img src="~/img/buscarequino.jpg"  class = "img-fluid" />
      </table>

 
   </form>



</body>


</html>
